{% extends 'base.html' %}
{% block content %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shopee</p>
        </div>
    </div>
</header>

<div class="container mb-5">
    <div class="row">
        <center>
            <div class="col-8">
                <p >
                    <h1>Your Story (History)</h1>
                    <p align="justify">
                    Every business has an origin story worth telling, and usually one that justifies why you do business and have clients.
                    
                    Some centennial enterprises have pages of content that can fit in this section, while startups can tell the story of how the company was born, its challenges, and its vision for the future.
                    
                    Whatever it is, your story matters to your prospective buyers and team members. Make it entertaining and as immersive as you can.
                    </p>
                </p>
  

            </div>
        </center>
    </div>
</div>
{% endblock %}